<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

		<!-- JDBC -->
<!-- 		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property> -->
<!-- 		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;DatabaseName=Vetash</property> -->
<!-- 		<property name="hibernate.connection.username">sa</property> -->
<!-- 		<property name="hibernate.connection.password">sa123456</property> -->
		

		<!-- JNDI連線池 (Apache Tomcat 連線池DBCP)設定 -->
<!-- 		<property name="hibernate.connection.datasource">java:/comp/env/jdbc/TestDB</property> -->
		<!--SQL方言,以下使用SQLServer -->
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>

		<!--是否要顯示實際操作資料庫時的SQL -->
		<property name="hibernate.show_sql">true</property>

		<!--交易管理類型, 以下使用JDBC Transaction -->
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        
        <!-- Enable Hibernate's automatic session context management -->
		<property name="hibernate.current_session_context_class">thread</property>

<!-- 		Java物件與資料庫表格的映射檔 -->
<!-- 		<mapping resource="xxx.hbm.xml" /> -->

		<!-- 使用annotation宣告時對應類別全名 -->
		<mapping class="model.CouponBean" />
		<mapping class="model.AccessBackBean" />
		<mapping class="model.PurchaseRecordBean" />
		<mapping class="model.OrderBean" />
       

	</session-factory>
	
</hibernate-configuration>
